html {
}

body {
	margin: 0;
	background: url('../img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}

purple {
	color: rgba(116, 42, 212, .9);
}

.header {
	background: #ffffff;
	font-family: 'Bebas Neue', cursive;
	font-size: 22px;
	border-bottom: 2px solid rgba(0,0,0,.04);
	box-shadow: 0px 0px 18px 2px rgba(0,0,0,.04);
	margin-bottom: 20px;
}

.header p {
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
}

.item-panel-container {
	display: inline-grid;
	grid-template-columns: 214px 214px 214px 214px 214px;
	grid-template-rows: 219px;
	column-gap: 15px;
	row-gap: 15px;
	margin-top: 20px;
}

.kit-information-panel {
	width: 1125.9px;
	min-height: 190px;
	background: rgba(255, 255, 255, .5);
	border: 2px solid rgba(0,0,0,.04);
	box-shadow: 0px 0px 18px 2px rgba(0,0,0,.04);
	overflow: hidden;
	padding-bottom: 25px; 
	vertical-align: top;
	backdrop-filter: blur(12px);
	color: #ffffff;
	letter-spacing: 8px;
	font-family: 'Bebas Neue', cursive;
	font-size: 19px;
	text-align: left;
	
	display: inline-grid;
	grid-template-columns: 1051px 60px;
	grid-template-rows: 60px;
	column-gap: 15px;
	row-gap: 15px;
	margin-top: 2px;
	margin-bottom: 20px;
	text-shadow: 1px 1px rgba(10,10,10,.3);
	display: none;
	cursor: default;
}

.kit-information-panel p {
	margin-left: 20px;
}

.kit-information-panel .close-button {
	cursor: pointer;
}

.kit-information-panel .lore-box {
	margin-top: -30px;
}

.kit-information-panel .close-button i {
	text-align: center;
	margin-top: 18px;
	margin-left: 19px;
	font-size: 23px;
}

.item-panel {
	width: 210px;
	min-height: 190px;
	background: rgba(255, 255, 255, .5);
	border: 2px solid rgba(0,0,0,.04);
	box-shadow: 0px 0px 18px 2px rgba(0,0,0,.04);
	overflow: hidden;
	padding-bottom: 25px;
	display: inline-block;
	vertical-align: top;
	backdrop-filter: blur(12px);
	cursor: pointer;
}

.item-show-box {
	width: 48px;
	height: 48px;
	/*border: 2px solid rgba(255,255,255,.24);*/
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}

.item-show-box img {
	width: 48px;
}

.item-show-box p#item-count {
	margin-top: -27.3px;
	font-size: 20px;
	font-family: 'Bebas Neue', cursive;
	color: #ffffff;
	text-align: right;
	letter-spacing: 1.2px;
}

.item-content-box {
	margin-left: 20px;
	width: 600px;
	display: inline-block;
}
.item-content-box-abilities {
	margin-right: 20px;
	width: 400px;
	display: inline-block;
	float: right;
}

.item-content-box-abilities small {
	margin-top: 0px;
}

.item-content-box-abilities li {
	margin-top: 15px;
}

.item-content-box .content-title {
	font-size: 16px;
	vertical-align: middle;
	display: inline-block;
	width: 120px;
}

.item-content-panel {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*transition: background 150ms ease, border 150ms ease;*/

.item-panel:hover {
	background: rgba(255, 255, 255, .6);
	border: 2px solid rgba(255,255,255,.2);
	backdrop-filter: blur(22px);
}

.item-panel .name-banner {
	color: #ffffff;
	letter-spacing: 8px;
	font-family: 'Bebas Neue', cursive;
	font-size: 19px;
	padding: 5px 0px 5px 0px;
	text-align: center;
	text-shadow: 1px 1px rgba(10,10,10,.3);
	margin-top: 5px;
}

.item-panel .title-banner {
	background: rgba(84, 207, 255, .9);
	color: #ffffff;
	letter-spacing: 2px;
	font-family: 'Bebas Neue', cursive;
	font-size: 13px;
	padding: 8px 0px 5px 0px;
	text-align: center;
	text-shadow: 1px 1px rgba(10,10,10,.2);
	backdrop-filter: blur(2px);
}

.item-panel .title-banner#legacy-title {
	background: rgba(116, 42, 212, .9);
}

.item-panel .item-img {
	width: 80px;
	margin-top: 30px;
}

#pixel {
	image-rendering: pixelated;
}

.item-list {
	margin-top: 30px;
}

.item-list-item:before {
	content: '-';
	margin-right: 8px;
	margin-left: 4px;
}

.item-list-item {
	padding: 0px;
	padding-left: 8px;
	padding-right: 8px;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 1px;
}