@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

:root {
    --background: #1A1D20;
    --foreground: #F4F6F9;
    --accent: #FF4BB7;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html,body {
    height: 100vh;
}

body {
    background: var(--background);
    color: var(--foreground);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 2rem;

    overflow: hidden;
}

.logo-wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 4rem;
}

.logo-name {
    font-size: 3em;
    font-weight: bold;
}

.logo-name span {
    color: var(--accent);
}

.darker {
    color: foreground;
    opacity: .2;
    font-size: 1.3em;
}